{% load crispy_forms_tags %}
<!-- Modal -->
<div
  class="modal fade"
  id="bid-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bid-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bid-modal-label" style="color: #273d5f">
          <span class="fas fa-file-invoice"></span> Tender Application
          <p class="text-muted h6" style="font-weight: 300">
            {{ Tender.tender_no }}
          </p>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'tender_bid' Tender.id %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="form-group">{{ BidForm|crispy }}</div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark">Submit</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
