<div
  id="dashboard-hero"
  class="d-flex align-items-center justify-content-center mt-5"
>
  <div class="container">
    <div class="col-md-12">
      <h1 class="text-light">Tender Management System</h1>
      <p class="text-muted">Tenders and Business Opportunities in Botswana</p>
    </div>
    <div class="col-md-12">
      <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="input-group">
          <input
            style="height: 50px"
            type="search"
            class="form-control rounded"
            placeholder="Search by (Tender-ID, Tender Name)"
            aria-label="Search"
            name="searchy"
            aria-describedby="search-addon"
          />
          <button type="submit" class="btn btn-dark">search</button>
        </div>
      </form>
    </div>
  </div>
</div>
