{%load static%}
<div class="container mb-4">
    <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a"style="font-weight: 100">Why Choose us</h2>
                  <p>Connecting businesses to opportunities.</p>
                </div>
              </div>
            </div>
          </div>
         <div class="container mt-5">
             <div class="row">
            <div class="col-md-4">
              <div class="card service">
                <div class="card-header">
                  <div class="card-box-ico">
                   <span class="fas fa-shopping-cart"></span> <span class="title-c">Lifestyle</span>
                  </div>
                </div>
                <div class="card-body">
                  <p class="content-c">
                    Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                    convallis a pellentesque
                    nec, egestas non nisi.
                  </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="link-c link-icon">Read more
                    <span class="fas fa-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card service">
                <div class="card-header">
                  <div class="card-box-ico">
                   <span class="fas fa-shopping-cart"></span> <span class="title-c">Lifestyle</span>
                  </div>
                </div>
                <div class="card-body">
                  <p class="content-c">
                    Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                    convallis a pellentesque
                    nec, egestas non nisi.
                  </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="link-c link-icon">Read more
                    <span class="fas fa-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card service">
                <div class="card-header">
                  <div class="card-box-ico">
                   <span class="fas fa-shopping-cart"></span> <span class="title-c">Lifestyle</span>
                  </div>
                </div>
                <div class="card-body">
                  <p class="content-c">
                    Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                    convallis a pellentesque
                    nec, egestas non nisi.
                  </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="link-c link-icon">Read more
                    <span class="fas fa-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>    
          </div>
         </div>
        </div>
</div>