{%load static%}
<div class="container mb-4">
    <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a"style="font-weight: 100">Our Services</h2>
                </div>
              </div>
            </div>
          </div>
         <div class="container mt-5">
             <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header d-flex">
                  <div class="card-box-ico">
                    <span class="fas fa-shopping-cart"></span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">Lifestyle</h2>
                  </div>
                </div>
                <div class="card-body">
                  <p class="content-c">
                    Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                    convallis a pellentesque
                    nec, egestas non nisi.
                  </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="link-c link-icon">Read more
                    <span class="fas fa-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header d-flex">
                  <div class="card-box-ico">
                    <span class="fas fa-file"></span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">Loans</h2>
                  </div>
                </div>
                <div class="card-body">
                  <p class="content-c">
                    Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit
                    aliquet elit, eget tincidunt
                    nibh pulvinar a.
                  </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="link-c link-icon">Read more
                    <span class="fas fa-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header d-flex">
                  <div class="card-box-ico">
                   
                    <span class="fas fa-folder-open"></span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">Sell</h2>
                  </div>
                </div>
                <div class="card-body">
                  <p class="content-c">
                    Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                    convallis a pellentesque
                    nec, egestas non nisi.
                  </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="link-c link-icon">Read more
                    <span class="fas fa-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
</div>