{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Carousel -->
{% include 'partials/search-bar.html' %}
<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-md-12">
      <div class="title-wrap d-flex justify-content-between">
        <div class="title-box">
          <h2 class="title-a" style="font-weight: 100">
            Select Tender Category
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      {% if categories %} {% for category in categories %}
      <div class="col-md-4 mb-5">
        <div class="card">
          <div class="card-block">
            <div class="card-box-ico2">
              <span class="{{category.icon}}"></span>
            </div>
            <h4>{{category.name}}</h4>
          </div>
          <div class="card-footer">
            <span class="text-muted">{{ category.item_count }} Tenders</span>
          </div>
          <a
            href="{% url 'tenders_by_category' category.id %}"
            class="stretched-link btn btn-block btn-outline-dark"
            >View</a
          >
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No Categories Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- services -->
<!-- {% include 'partials/services.html' %} -->
{% endblock %}
