{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Search -->
{% include 'partials/search-bar.html'%}
<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-md-12">
      <div class="title-wrap d-flex justify-content-between">
        <div class="title-box">
          <h2 class="title-a" style="font-weight: 100">Search Results</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    {% if tender %} {% for ten in tender %}
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h3>Tender Title: {{ten.title}}</h3>

          <p>Description:{{ten.description}}</p>
          <p>Category:{{ten.category}}</p>
          <p>Location:{{ten.location}}</p>
          <div class="col-md-12">
            <a href="{% url 'tender' ten.id %}" class="btn btn-block btn-dark"
              >View Details
              <span class="far fa-file"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No results found for "{{ search_term }}".</p>
    {% endif %}
  </div>
</div>

<!-- Footer -->

<!--  -->
{% endblock %}
